.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #ffffff;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #475473;
  padding-left: 10px;
  margin: 0;
  font-family: 'Oswald Stencil';
}

.navLink {
  display: inline-block;
  color: #475473;
  background-color: #ffffff;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
} 

.navLink:hover {
  background-color: #008183;
}

/* @font-face {
  font-family: 'oswald-stencil-bold';
  src: url('/src/components/font/Oswald-Stencil.ttf');
} */

@font-face {
  font-family: 'Oswald Stencil';
  src: local('Oswald Stencil Bold'), local('OswaldStencil-Bold'),
      url('/src/components/font/OswaldStencil-Bold.woff') format('woff'),
      url('/src/components/font/OswaldStencil-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
