:root{
    --manifestoWidth: 8.8in;
    --manifestoHeight: 11in;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
/* Manifesto styles*/
.manifestoContainer{
  width: var(--manifestoWidth);
  height: var(--manifestoHeight); 
  display: flex;
}
.manifestoPadding{
  margin-left: 20px;
}

.manifesto{
  background-color: #e7e7e7;
  color: #4d5470;
  font-family: 'Roboto Slab', serif;
}
.manifesto:hover{
  cursor: pointer;
}

.blueBar{
  height: calc(var(--manifestoHeight) * .01818);
  background-color: #575f80;
}

.titleSection{
  height: calc(var(--manifestoHeight) * .155);
  text-align: center;
  font-family: 'Oswald Stencil';
}

.hundredYear{
  font-size: 80px;
  margin: -12px 0 0 0 ;
}
.userName{
  font-size: 60px;
  margin: -20px 0 0 0;
}
.smallColumn{
  width: calc(var(--manifestoWidth) * .23);
  height: calc(var(--manifestoHeight) * .8081);
  text-align: center;
}
.mission{
  background-color: #4d5470;
  color:#e7e7e7;
  font-size: 26px;
  padding: 8px;
  min-height: 12%;
}
.smTitle{
  font-size: 20px;
}
.smallColumnAutoFill{
  min-height: 20%;
}
.smallColumnElement{
  max-width: calc(var(--manifestoWidth) * .2272);
  margin: -7px 0 1px 0;
  color: #4d5470;
  text-transform: uppercase;
}
.dottedBottom{
  border-bottom: 8px dotted #4d5470;
  padding-bottom: 4px;
}
.bigColumn{
  width: calc(var(--manifestoWidth) * .6818);
  height: calc(var(--manifestoHeight) * .8);
  text-align: center;
}
.bigColumnAutoFill{
  min-height: calc(var(--manifestoHeight) * .3);
}
.lifeGoalsTitle{
  color:#e7e7e7;
}

.lifeGoalItem{
  border-bottom: 1px solid #8088a7; 
  padding: 4px 8px;
}
.principles{
  text-align: left;
}
.principlesTitle{
  color:#e7e7e7;
  margin-top: 8px;
}
.pi10{
  font-size: 10px;
}
.pi12{
  font-size: 12px;
}
.pi14{
  font-size: 14px;
}
.pi16{
  font-size: 16px;
}