:root{
    --manifestoWidth: 8.8in;
    --manifestoHeight: 11in;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
/* Manifesto styles*/
.manifestoContainer{
  width: var(--manifestoWidth);
  height: var(--manifestoHeight);
  padding: 50px;
  display: flex;
}

.manifesto{
  background-color: #e7e7e7;
  color: #4d5470;
}
.blueBar{
  height: calc(var(--manifestoHeight) * .01818);
  background-color: #8e9cd3;
}
/* .manifesto div{
  border: 1px solid black;
} */

.titleSection{
  height: calc(var(--manifestoHeight) * .1818);
  text-align: center;
}

.hundredYear{
  font-family: 'Oswald Stencil';
  font-size: 80px;
}
.userName{
  font-size: 60px;
}
.userName:hover{
  cursor: pointer;
}

.smallColumn{
  width: calc(var(--manifestoWidth) * .2272);
  margin: 0 calc(var(--manifestoHeight) * .02272) 0 calc(var(--manifestoHeight) * .02272);
  height: calc(var(--manifestoHeight) * .7813);
  text-align: center;
}
.mission{
  background-color: #4d5470;
  color:#e7e7e7;
  font-size: 30px;
  padding: 8px;
  min-height: 15%;
}
.smallColumnAutoFill{
  min-height: 20%;
}
.mantraElement{
  max-width: calc(var(--manifestoWidth) * .2272);
  color: #4d5470;
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
}
.dotSeparation{
  padding: 4px 0;
}
.bigColumn{
  width: calc(var(--manifestoWidth) * .6818);
  text-align: center;
}
.bigColumnAutoFill{
  min-height: 30%;
}
.lifeGoalsTitle{
  color:#e7e7e7;
}

.lifeGoalItem{
  border-bottom: 1px solid black; 
  padding: 4px 8px;
}

.principlesTitle{
  padding: 16px 0;
}

.principleItem{
  text-align: left;
}